body{
  font-family: 'Montserrat', sans-serif;
  color: #555;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav i{
  padding: 0 10px;
}

li > a{
  display: inline-block;
  color: #555;
  text-decoration: none;
  padding: 0 25px;
  transition: background-color .2s;
}

i:after{
  font-size: 1.4em;
}

.highlight{
  color: red;
}

#user-nav li{
  border-left: 2px solid #bbb;
}

#user-nav li:last-child{
  border-right: 2px solid #bbb;
}

#user-nav{
  font-size: .75em;
  background-color: #eee;
  height: 44px;
  text-transform: uppercase;
}

#user-nav li {
    float: left;
    line-height: 44px;
}

#user-nav li > a:hover{
  background-color: #ccc;
}

#contact-dropdown {
}

.dropdown-wrapper{
  height: 0;
  overflow: hidden;
  width: 100%;
  background-color: #373D3D;
  color: #C6C6C5;
  overflow: hidden;
  transition: height .25s;
}

.dropdown-active{
  height: 150px;
}

.cell {
  float: left;
  height: 100%;
  padding: 0 30px;
  border-right: 1px solid #555;
}


.cell .icon {
  font-size: 3.25em;
  vertical-align: middle;
  float: left;
  margin: 44px 0;
}

.cell .value {
  float: left;
  margin-top: 50px;
  height: 3.25em;
}

.address .value{
  margin-top: 32px;
}


#site-nav li{
  border-left: 1px solid #555;
}

#site-nav li:last-child{
  border-right: 1px solid #555;
}

#site-nav{
  background-color: #151616;
  height: 66px;
  text-transform: uppercase;
}

#site-nav li {
  float: left;
  line-height: 66px;
}

#site-nav li a{
  color: white;
}

#site-nav li > a:hover{
  background-color: #363636;
}

.logo img {
  vertical-align: middle;
}

.right {
  float: right;
}

.container{
  width: 1170px;
  margin: auto;
}

#featured-items{
  background-color: #ececec;
}

.featured img{
  margin: 20px; 
}

.row div{
  float: left;
}

.column-60{
  width: 60%;
}
.column-40{
  width: 40%;
}

#shopping-cart {
  color: white;
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 999999;
  width: 44px;
  height: 66px;
  background-color: #2d2d2d;
  text-align: center;
}

#shopping-cart .shopping-cart-icon{
  height: 44px;
  line-height: 44px;
}

#shopping-cart .shopping-cart-number{
  min-height: 22px;
  line-height: 22px;
  background-color: #3cb4aa; 
}


/*Custom Styles for Slick Carousel*/

.slick-initialized .slick-slide {
  overflow: hidden;
  max-height: 600px;
}

.slick-slide img{
  width: 100%;
}

.slick-dots{
  bottom: 0;
  right: 20px;
  text-align: right;
}

.slick-dots li button{
  background-color: white;
  opacity: .5;
}

.slick-dots li button:hover{
  background-color: white;
  opacity: 1;
}

.slick-dots li.slick-active button{
  opacity: 1;
}

.slick-dots li button:before{
  content: "";
}

/*Custom Styles for Slick Carousel*/